html{
  background-color: #393E46;
}

*{
  box-sizing: border-box;
}

.navbar_div{
  background-color: #222831;
  height: 75px;
  flex-grow: 1;
}

.navbar_icon{
  width: 80px;
  height: 8vh;
  float: left;
}

.navbar_search{
  width: 400px;
  height: 8vh;
  float: left;
  display: flex;
}

.navbar_search_btn{
  width: 6vh;
  height: 8vh;
  float: left;
}

.navbar_user{
  flex-grow: 1;
  height: 100%;
  float: right;
}

.catbar_div{
  background-color: black;
  height: 6vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
}

.catbar_category{
  height: 6vh;
  width: 15%;
  float: left;
  position: fixed;
  z-index: 3;
  border-right: 3px solid white;
  box-sizing: border-box;
}

.catbar_buttons{
  display: flex;
  flex-direction: row;
  height: 6vh;
  margin-left: 15%;
}

.row{
  width: 100%;
  height: 100%;
}

.sidebar_div{
  width: 20%;
  min-width: 225px;
  height: 100%;
  background-color: #222831;
  position: absolute;
  left: 0px;
  top: 75px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.sidebar_div_search{
  width: 20%;
  min-width: 225px;
  height: 100%;
  background-color: #222831;
  position: absolute;
  left: 0px;
  top: 275px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.multiview_div{
  width: 80%;
  height: 100%;
  background-color: #393E46;
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 75px;
}

.multiview_div_search{
  width: 80%;
  height: 100%;
  background-color: #393E46;
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 275px;
}

.multiview_top_buffer{
  height: 30px;
  width: 100%;
}

.multiview_area{
  width: 90%;
  height: 80%;
  margin: auto;
}

.multiview_row{
  display: flex;
  justify-content: center;
}

.multiview_element{
  height: 300px;
  width: 225px;
  margin: 10px;
  background-color: black;
}

.add_movie_div{
  width: 80%;
  height: 100%;
  background-color: #393E46;
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 75px;
  padding: 4vw;
}

.add_movie_div_search{
  width: 80%;
  height: 100%;
  background-color: #393E46;
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 275px;
  padding: 4vw;
}

.listview_style{
  width: 85%;
  height: 100%;
  position: fixed;
  top: 75px;
  left: 225px;
  background-color: green;
  padding: 10px;
}

.listview_top_buffer{
  height: 30px;
  width: 100%;
}

.listview_area{
  width: 90%;
  height: 90%;
  margin: auto;
}

.list_element{
  width: 80%;
  margin-left: 10%;
  height: 150px;
  background-color: #EEEEEE;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

.listview_element{
  height: 125px;
  width: 125px;
  background-color: black;
}

.blurred_poster{
  opacity: 0.3;
}

.dropzone{
  width : 100%;
  height : 20%;
  border : 1px solid black;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

input[type="file"] + label {
  font-size: 20pt;
}

.singleview_style{
  width: 80%;
  height: 100%;
  background-color: #393E46;
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 8vh;
  padding: 4vw;
}

.title_text{
  font-size: 30pt;
  margin: 0;
  line-height: 100px;
}

.logout_btn{
  padding: 15px;
  width: 125px;
  border-radius: 5px;
  margin: 0 0 30px 0;
  background-color: #DC143C;
  font-size: 15pt;
}

.main_page_div{
  width: 80%;
  height: 100%;
  float: right;
  padding: 25px;
  position: absolute;
  left: 20%;
  top: 75px;
}

.main_page_div_search{
  width: 80%;
  height: 100%;
  float: right;
  padding: 25px;
  left: 20%;
  top: 275px;
}

.first_page{
  height: 100vh;
  width: 100vw;
}

.home_button{
  height: 5vh;
  width: 5vh;
  margin-top: 1.5vh;
  padding-left: 20px;
  color: white;
}

